.fourth_section1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color:#0b3595;
    border-radius: 20%;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
}

.fourth_para_sec{
    width: 50%;
}
.heading1_f{
font-size:50px;
color: white;
text-align:left;
padding-left: 40px;
}
.fourth_section2_p{
    width: 50%;
}
.paragraph_f{
    padding-left: 40px;
    text-align: left;
}
img{
    height: 600px;
    padding: 20px;
    width: 80%;
    border-radius: 20%;
}

/* imag
        <div className='fourth_section1'>
            
        <div className='fourth_para_sec'>
          <h1 className='heading1_f'>See impactful results with an easy integration.</h1>
          <p className='paragraph_f'>The Climp.co Platform can handle volumes of tedious, time-consuming phone calls with super-human accuracy and easy-to-track updates. Simply set the task and get back to the customer interactions that really matter.</p>
          <div className='button_section'>
          <button className='button-21'>Get Started</button> <span >Request Demo</span></div>
        </div>
        <div className='fourth_section2_p'>
            <img className='image_section' src={image3} alt="" />
        </div>
        </div> */