.header{
    background-color: #022f94;
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    align-items: center;
    height: 7rem ;
}
.header_links{

    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 200px;
    padding-left:100px ;
    justify-content: space-evenly;
}
.links{
    margin-top: 60px;
    color: rgb(224, 217, 217);
    text-decoration: none;
}
/* button{
    padding: 15px 10px;
    border-radius: 40%;
    border: none;
    background: #13cae6;
    color: white;
} */
.box1{
    width: 40px;
    height: 40px;
    background-color:#13cae6;
    color: #13cae6;
    padding: 5px;
    border-radius: 20%;
}

/* <!-- HTML !--> */
/* <button>Button 21</button> */

/* CSS */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #00efe3;
  /* background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%); */
  background-image:#00efe3;
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color:  #022f94;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}